.main-container {
    header {
        position: relative;

        .div-img-name-btn {
            max-width: 100%;
            min-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            img.first-page-img-mobile {
                max-width: 100%;
                min-width: 100%;
                height: 100vh;
            }

            .name-and-btn {
                position: absolute;
                top: 45%;
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    font-size: 36px;
                    color: white;
                    font-family: 'Splash', cursive;
                    padding-bottom: 20px;
                }

                button {
                    background: rgba(115, 112, 112, 0);
                    color: white;
                    padding: 5px;
                    height: 30px;
                    width: 110px;
                    border-radius: 10px;
                    letter-spacing: 2px;
                }
            }

            nav {
                position: absolute;
                bottom: 0;
                min-width: 100%;
                max-width: 100%;
                display: flex;
                align-content: space-between;

                ul.social-icons {
                    min-width: 100%;
                    max-width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    list-style-position: inside;
                    list-style-type: none;

                    li {
                        padding: 10px;
                        margin-bottom: 30px;
                        // color: rgb(223, 67, 67);
                        opacity: 0;
                        transform: translateY(20px);
                        animation: fade-in 1s ease-in-out forwards;
                        animation-delay: calc(0.1s * var(--i));

                    }

                    @keyframes fade-in {
                        from {
                            opacity: 0;
                            transform: translateY(20px);
                        }

                        to {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }

                    .fa-instagram:hover:before {
                        color: white;
                        text-shadow: 0 0 10px rgb(223, 67, 67), 0 0 20px rgb(223, 67, 67), 0 0 30px rgb(223, 67, 67), 0 0 40px rgb(223, 67, 67);
                    }

                    .fa-facebook:hover:before {
                        color: white;
                        text-shadow: 0 0 10px rgb(223, 67, 67), 0 0 20px rgb(223, 67, 67), 0 0 30px rgb(223, 67, 67), 0 0 40px rgb(223, 67, 67);
                    }

                    .fa-soundcloud:hover:before {
                        color: white;
                        text-shadow: 0 0 10px rgb(223, 67, 67), 0 0 20px rgb(223, 67, 67), 0 0 30px rgb(223, 67, 67), 0 0 40px rgb(223, 67, 67);
                    }

                    .fa-mixcloud:hover:before {
                        color: white;
                        text-shadow: 0 0 10px rgb(223, 67, 67), 0 0 20px rgb(223, 67, 67), 0 0 30px rgb(223, 67, 67), 0 0 40px rgb(223, 67, 67);
                    }


                }
            }
        }
    }
}

@media (min-width:700px) {
    .main-container {
        header {
            .div-img-name-btn {
                .first-page-img-mobile {
                    display: none;

                }

                .first-page-img-desktop {
                    display: block;
                    max-width: 100%;
                    min-width: 100%;
                    height: 100vh;
                }

                .name-and-btn {
                    position: absolute;
                    top: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1 {
                        font-size: 56px;
                        color: white;
                        font-family: 'Splash', cursive;
                        padding-bottom: 20px;
                    }

                    button {
                        height: 40px;
                        width: 130px;
                    }
                }

                nav {
                    ul {
                        li {
                            padding: 10px;
                            margin-bottom: 60px;
                        }

                        .fa-instagram:before {
                            font-size: 1.5em;
                        }

                        .fa-facebook:before {
                            font-size: 1.5em;
                        }

                        .fa-soundcloud:before {
                            font-size: 1.5em;
                        }

                        .fa-mixcloud:before {
                            font-size: 1.5em;
                        }
                    }
                }


            }

        }
    }
}

@media (min-width:1200px) {
    .main-container {
        header {
            .div-img-name-btn {
                nav {
                    ul {
                        .fa-instagram:before {
                            font-size: 2em;
                        }

                        .fa-facebook:before {
                            font-size: 2em;
                        }

                        .fa-soundcloud:before {
                            font-size: 2em;
                        }

                        .fa-mixcloud:before {
                            font-size: 2em;
                        }
                    }
                }
            }
        }

    }

}